@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 18px;
    font-family: 'Open Sans';
}
h1,h2,h3{
    font-family: 'Poppins';
}
.container-top{
    padding: 0 5% 50px 5%;
    background-color: hsl(193, 100%, 96%);
    min-height: 100%;
}
.container-body{
    padding: 80px 5% 40px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    z-index: 1;
    position: relative;
}
header > img{
    width: 200px;
}
header > button{
    width: 180px;
    height: 40px;
    border-radius: 20px;
    border: none;
    font-family: inherit;
    font-size: .8em;
    font-weight: 700;
    outline: none;
    cursor: pointer;
    box-shadow: 2px 2px 10px 0px rgba(131, 130, 130, 0.3);
    background-color: white;
}
header > button:hover{
    color: rgba(0, 0, 0, 0.4);
}
#background{
    width: 90%;
    height: 100vh;
    position: absolute;
    top: 0;
}
section.brief{
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
section.brief img{
    max-width: 650px;
    min-width: 200px;
}
section.brief div{
    width: 42%;
    margin-right: 50px;
}
section.brief h1{
    font-size: 2em;
    font-weight: 600;
    max-width: 450px;
}
section.brief p{
    font-size: .96em;
    margin: 20px 0;
    font-weight: 400;
    max-width: 500px;
}
section.brief button{
    width: 45%;
    height: 50px;
    background-color: hsl(322, 100%, 66%);
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 25px;
    color: white;
    font-family: inherit;
    font-weight: 600;
    margin-top: 10px;
}
section.brief button:hover{
    opacity: 0.6;
}
section.information{
    display: flex;
    flex-direction: row-reverse;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px 40px 100px;
    margin: 40px auto;
    max-width: 1150px;
    box-shadow: 2px 2px 10px 0px rgba(116, 116, 116, 0.2);
}
section.information h2{
    color: rgba(29, 29, 29, 0.8);

}
section.information p{
    max-width: 500px;
    font-weight: 500;
    color: rgba(99, 98, 98, 0.7);
    margin-top: 20px;
    
}
section.information img{
    max-width: 400px;
    min-width: 200px;
}
section.flowing{
    flex-direction: row;
}
section.call-to-action{
    max-width: 64%;
    min-width: 40%;
    background-color: white;
    box-shadow: 2px 2px 10px 0px rgba(116, 116, 116, 0.2);
    padding: 50px 20px;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
    position: relative;
    bottom: -130px;
}
section.call-to-action h2{
    font-size: 1.8em;

}
section.call-to-action button{
    padding: 25px;
    width: 50%;
    margin-top: 30px;
    background-color: hsl(322, 100%, 66%);
    box-shadow: 3px 3px 10px 0px rgba(116, 116, 116, 0.5);
    color: white;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: .3px;
    border-radius: 50px;
    outline: none;
    border: none;
    cursor: pointer;
}
section.call-to-action button:hover{
    opacity: .6;
}
footer{
    background-color: hsl(192, 100%, 9%);
    color: rgba(255, 255, 255, .7);
    padding: 200px 6% 0 9%;
}
footer > img{
    width: 230px;
    position: relative;
    left: -10px;
}
footer > div{
    display: flex;
}
.div-footer{
    margin: 40px 0px;
    margin-right: 120px;
}
.div-footer p{
    margin-bottom: 20px;
}
.contact{
    font-size: .8em;
    margin-top: 20px;
}
.contact img{
    margin-right: 20px;
}
.contact div img{
    margin-top: 10px;
    margin-right: 30px;
}
.contact > div{
    display: flex;
    align-items: flex-start;
}
.contact > div p{
    margin: 0;
    width: 300px;
    margin-bottom: 20px;
}
.about p{
    cursor: pointer;
}
.about p:hover{
    text-decoration: underline;
}
.social{
    margin-right: 0;
    margin-left: 20px;
}
.social > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 240px;
}
.social i{
    border: 1px solid;
    border-radius: 50%;
    text-align: center;
    padding: 8x;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    cursor: pointer;
}
.social i:hover{
    border-color: hsl(322, 100%, 66%);
    color: hsl(322, 100%, 66%);
}
.social p{
    font-size: .6em;
}

